<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #itemForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="item.id">{{ l('EditItem') }}</span>
                        <span *ngIf="!item.id">{{ l('CreateNewItem') }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group">
                        <label for="CollectionName">{{ l('Collection') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="CollectionName"
                                name="collectionName"
                                [(ngModel)]="collectionName"
                                type="text"
                                disabled
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-primary blue"
                                    (click)="openSelectCollectionModal()"
                                    type="button"
                                >
                                    <i class="fa fa-search"></i> {{ l('Pick') }}
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setCollectionIdNull()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="item.collectionId"
                        [(ngModel)]="item.collectionId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="form-group">
                        <label for="Item_Title">{{ l('Title') }}</label>
                        <input
                            type="text"
                            #Item_Title="ngModel"
                            id="Item_Title"
                            class="form-control"
                            [(ngModel)]="item.title"
                            name="Title"
                        />
                        <validation-messages [formCtrl]="Item_Title"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Item_Description">{{ l('Description') }}</label>
                        <input
                            type="text"
                            #Item_Description="ngModel"
                            id="Item_Description"
                            class="form-control"
                            [(ngModel)]="item.description"
                            name="Description"
                        />
                        <validation-messages [formCtrl]="Item_Description"></validation-messages>
                    </div>

                    <br />
                    <div class="m-checkbox-list">
                        <label for="Item_IsActive" class="kt-checkbox">
                            <input
                                id="Item_IsActive"
                                #Item_IsActive="ngModel"
                                type="checkbox"
                                name="IsActive"
                                [(ngModel)]="item.isActive"
                            />
                            {{ l('IsActive') }}
                            <span></span>
                        </label>
                        <validation-messages [formCtrl]="Item_IsActive"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Item_ImageAdress">{{ l('ImageAdress') }}</label>
                        <input
                            type="text"
                            #Item_ImageAdress="ngModel"
                            id="Item_ImageAdress"
                            class="form-control"
                            [(ngModel)]="item.imageAdress"
                            name="ImageAdress"
                        />
                        <validation-messages [formCtrl]="Item_ImageAdress"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Item_VideoAddress">{{ l('VideoAddress') }}</label>
                        <input
                            type="text"
                            #Item_VideoAddress="ngModel"
                            id="Item_VideoAddress"
                            class="form-control"
                            [(ngModel)]="item.videoAddress"
                            name="VideoAddress"
                        />
                        <validation-messages [formCtrl]="Item_VideoAddress"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!itemForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <itemCollectionLookupTableModal
        #itemCollectionLookupTableModal
        (modalSave)="getNewCollectionId()"
    ></itemCollectionLookupTableModal>
</div>
